.container {
    margin-right: 280px;
    margin-left: 280px;
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    color: #62a8a0;
}

p {
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.name {
    color: white;
    background-color: #62a8a0;
    width: 300px; 
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 40px;
    margin-left: 280px;
}

#name-contact {
    float: right;
    margin-bottom: 70px;
}

#about {
    
}